/jaxb-ri/dist/
/jaxb-ri/build/
/jaxb-ri/docs/release-documentation/target/
/jaxb-ri/docs/www/target/
/jaxb-ri/apgen/build/
/jaxb-ri/core/build/
/jaxb-ri/jxc/build/
/jaxb-ri/osgi/build/
/jaxb-ri/runtime-fi/build/
/jaxb-ri/runtime-staxex/build/
/jaxb-ri/samples/build/
/jaxb-ri/samples/work/
/jaxb-ri/tools/jing-rnc-driver/build/
/jaxb-ri/tools/pretty-printer/build/
/jaxb-ri/tools/xmllint/build/
/jaxb-ri/xjc/build/
/jaxb-ri/runtime/build/
/jaxb-ri/tools/source-tidy/*.class
/jaxb-ri/tools/lib/util/pretty-printer.jar
/jaxb-ri/tools/lib/util/jing-rnc-driver.jar
/jaxb-ri/*.zip
*.class
!/jaxb-ri/osgi/ant/manifestreader/ManifestReader*
