/jaxb-ri/docs/release-documentation/target/
/jaxb-ri/docs/www/target/
/jaxb-ri/tools/jing-rnc-driver/build/
/jaxb-ri/tools/pretty-printer/build/
/jaxb-ri/tools/xmllint/build/
/jaxb-ri/tools/source-tidy/*.class
/jaxb-ri/tools/lib/util/pretty-printer.jar
/jaxb-ri/tools/lib/util/jing-rnc-driver.jar
*.class
/jaxb-ri/nbproject/private/
.idea
.DS_Store
/jaxb-ri/bundles/core/target/
/jaxb-ri/bundles/jxc/target/
/jaxb-ri/bundles/osgi/extra/target/
/jaxb-ri/bundles/osgi/osgi/target/
/jaxb-ri/bundles/ri/target/
/jaxb-ri/bundles/runtime/target/
/jaxb-ri/bundles/xjc/target/
/jaxb-ri/core/target/
/jaxb-ri/jxc/target/
/jaxb-ri/runtime/fi/target/
/jaxb-ri/runtime/impl/target/
/jaxb-ri/runtime/jaxb1/target/
/jaxb-ri/runtime/staxex/target/
/jaxb-ri/samples/target/
/jaxb-ri/xjc/target/
*.iml

/jaxb-ri/txw/runtime/target/
/jaxb-ri/txw/compiler/target/
/jaxb-ri/target/
/jaxb-ri/txw/target/
/jaxb-ri/runtime/target/
/jaxb-ri/docs/target/
/jaxb-ri/bundles/target/
/jaxb-ri/bundles/osgi/target/
/jaxb-ri/external/rngom/target/
/jaxb-ri/bundles/osgi/tests/target/