depot
	layout_version 1.0
vendor 
	tag SUN
	title SUN Microsystems
	description "JES"
end

product
	tag 		sun-jaxb2
	title		Java Architecture for XML Binding
	description 	"Java Architecture for XML Binding 2.0"
	copyright	"Copyright 2005 Sun Microsystems, Inc.  All rights reserved.
Use is subject to license terms."
	revision	@jaxb.version@
	number		REV=@datestamp@
	architecture	HP-UX_B.11.11_32/64
	vendor_tag	SUN
	machine_type	*
	os_name 	HP-UX
	os_release	B.11.11
	os_version	*
	is_locatable	true
	directory	/

	fileset
		tag		sun-jaxb2
		prerequisite	sun-jaxp
		prerequisite	sun-wscl

		file -m 0755 -t d -o root -g sys /opt/sun/share/jaxb
		file -m 0755 -t d -o root -g sys /opt/sun/share/jaxb/bin
		file -m 0755 -t d -o root -g sys /opt/sun/share/jaxb/lib
		file -m 0644 -o root -g root @libdir@/jaxb-api.jar /opt/sun/share/jaxb/lib/jaxb-api.jar
		file -m 0644 -o root -g root @libdir@/jaxb-impl.jar /opt/sun/share/jaxb/lib/jaxb-impl.jar
		file -m 0644 -o root -g root @libdir@/jaxb1-impl.jar /opt/sun/share/jaxb/lib/jaxb1-impl.jar
		file -m 0644 -o root -g root @libdir@/jaxb-xjc.jar /opt/sun/share/jaxb/lib/jaxb-xjc.jar
		file -m 0755 -o root -g root @bindir@/xjc.rpm.template /opt/sun/share/jaxb/bin/xjc
		file -m 0755 -o root -g root @bindir@/schemagen.rpm.template /opt/sun/share/jaxb/bin/schemagen
	end
end
