%define _topdir @build.dir@
Summary: Java Architecture for XML Binding 
Name: sun-jaxb
Version: @jaxb.version@ 
Release: @jaxb.release@ 
License: Copyright 2004 Sun Microsystems, Inc.  All rights reserved.  Use is subject to license terms.
Group: Development/Libraries
Source: %{name}-%{version}.tar
Distribution: @prod.name@ 
Vendor: Sun Microsystems, Inc.
Provides: %{name}-@jaxb.version@-@jaxb.release@
Requires: sun-jaxp, sun-wscl
BuildRoot: %{_topdir}/BUILD/%{name}-%{version}
URL: http://www.sun.com

%description
Java Architecture for XML Binding

%prep

%setup

%build

%install

%clean

%files
%attr(755,root,root) @install.prefix@/bin/xjc
%attr(-,root,root) @install.prefix@/share/lib/jaxb-api.jar
%attr(-,root,root) @install.prefix@/share/lib/jaxb-impl.jar
%attr(-,root,root) @install.prefix@/share/lib/jaxb-libs.jar
%attr(-,root,root) @install.prefix@/share/lib/jaxb-xjc.jar
