#
# Copyright 2004 Sun Microsystems, Inc.  All rights reserved.
# Use is subject to license terms.
#
#ident	"$Id: pkginfo.tmpl,v 1.2 2006-02-03 21:56:02 jitu Exp $"
#
#
# This required package information file describes characteristics of the
# package, such as package abbreviation, full package name, package version,
# and package architecture.
#
PKG="SUNWjaxb2"
NAME="Java Architecture for XML Binding"
ARCH="@arch@"
VERSION="@jaxb.version@,REV=@datestamp@"
SUNW_PRODNAME="@prod.name@"
SUNW_PRODVERS="@jaxb.version@"
#SUNW_PKGTYPE="usr"
MAXINST="1000"
CATEGORY="system"
DESC="Java Architecture for XML Binding @jaxb.version@"
VENDOR="Sun Microsystems, Inc."
HOTLINE="Please contact your local service provider"
EMAIL=""
CLASSES="none jwsenv"
BASEDIR=/opt
SUNW_PKGVERS="1.0"
#VSTOCK="<reserved by Release Engineering for package part #>"
#ISTATES="<developer defined>"
#RSTATES='<developer defined>'
#ULIMIT="<developer defined>"
#ORDER="<developer defined>"
#PSTAMP="<developer defined>"
#INTONLY="<developer defined>"
